@import "tailwindcss";

* {
  font-family: Arial, Helvetica, sans-serif;
}

@theme {
  --breakpoint-xs: 30rem;
  --text-xs: clamp(0.75rem, 0.65rem + 1vw, 0.875rem); /* 12px → 14px */
  --text-sm: clamp(0.875rem, 0.8rem + 1vw, 1rem); /* 14px → 16px */
  --text-lg: clamp(1.125rem, 1rem + 1vw, 1.25rem); /* 18px → 20px */
  --text-xl: clamp(1.25rem, 1.1rem + 1vw, 1.5rem); /* 20px → 24px */
  --text-2xl: clamp(1.5rem, 1.3rem + 1vw, 1.875rem); /* 24px → 30px */
  --text-3xl: clamp(1.875rem, 1.5rem + 2vw, 2.25rem); /* 30px → 36px */
  --text-4xl: clamp(2.25rem, 2rem + 2vw, 3rem); /* 36px → 48px */
  --text-5xl: clamp(3rem, 2.5rem + 3vw, 3.75rem); /* 48px → 60px */
}
